[Unit]
Description=dobby
Wants=network-online.target
After=network-online.target

[Service]
ExecStartPre=/bin/sleep 30
ExecStart=/usr/bin/python3 run_dobby.py > run_log.txt
WorkingDirectory=/home/alex/Dobby/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target
