[Unit]
Description=sms_monitor
After=network.target

[Service]
ExecStart=/usr/bin/python3 sms_monitor.py
WorkingDirectory=/home/alex/Dobby/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target